article.content {
  margin: 10px auto;
  max-width: 700px;
}

/* simulation level css */
svg.simulation {
  cursor: crosshair;
  margin-right: 10px;
}

svg g.obstacle-layer, svg g.obstacle-layer image {
  pointer-events: none;
}

.creature-distribution input {
  display: block;
}

.simulation-container {
  margin-bottom: 45px;
}

.simulation-controls {
  margin-bottom: 5px;
}

.simulation-components > * {
  display: inline-block;
  vertical-align:top;
}
